<!DOCTYPE html>
<html lang="en" ng-app="eWorplaceApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
  <script src="src/js/sweetalert.min.js" type="text/javascript"></script>
  <script src="src/js/ng-sweet-alert.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" rel="stylesheet" />
  <link href="src/css/styles.css" rel="stylesheet" type="text/css"/>
  <link href="src/css/sweetalert.css" rel="stylesheet" type="text/css"/>
  <!-- eWorkplaceApp -->
  <script src="app/app.module.js" type="text/javascript"></script>
  <script src="app/app.config.js" type="text/javascript"></script>
  <script src="app/app.routing.js" type="text/javascript"></script>
  <script src="app/directives/valid-eworkplace-email.directive.js" type="text/javascript"></script>
  <script src="app/factories/data-factory.factory.js" type="text/javascript"></script>
  <script src="app/services/authentication-service.service.js" type="text/javascript"></script>
  <script src="app/services/cart.service.js" type="text/javascript"></script>
  <script src="app/controllers/login.controller.js" type="text/javascript"></script>
  <script src="app/controllers/products.controller.js" type="text/javascript"></script>
  <script src="app/controllers/cart.controller.js" type="text/javascript"></script>
  <script src="app/controllers/home.controller.js" type="text/javascript"></script>
  <title>eWorplaceApp</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-show="auth.isValid">
    <div class="container-fluid">
      <a class="navbar-brand" href="">eWorplaceApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" ng-show="auth.user.role === 'client'">
            <a class="nav-link active" aria-current="page" href="#!/home">Home</a>
          </li>
          <li class="nav-item" ng-show="auth.user.role === 'admin'">
            <a class="nav-link" href="#!/products">Productos</a>
          </li>
          <li class="nav-item" ng-show="auth.user.role === 'client'">
            <a class="nav-link" href="#!/cart">Compras</a>
          </li>
        </ul>
        <span class="navbar-text">
          <span class="navbar-text">
            <a role="button" ng-click="logout()">{{ auth.user.username }}</a>
          </span>
          <span role="button" ng-click="goToCart()" class="fa-stack fa-2x has-badge" data-count="{{ productsInCart.length }}"  ng-show="auth.user.role === 'client'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
        </span>
      </div>
    </div>
  </nav>
  <div ng-view></div>
  <toaster-container></toaster-container>
</body>
</html>