<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-lg-7">
              <h5 class="mb-3"><a href="#!/home" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Seguir comprando</a></h5>
              <hr>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                  <p class="mb-1">Carrito de compras</p>
                  <p class="mb-0">Tienes {{ shoppingCartList.length }} productos en el carrito</p>
                </div>
              </div>
              <div class="card mb-3" ng-repeat="product in shoppingCartList">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                      <div>
                        <img src="{{ product.image }}50"
                          class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                      </div>
                      <div class="ms-3">
                        <h5>{{ product.name }}</h5>
                        <p class="small mb-0">{{ product.description }}</p>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                      <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">{{ product.quantity }}</h5>
                      </div>
                      <div style="width: 110px;">
                        <h5 class="mb-0">{{ (product.quantity * product.price) | currency : "$" }}</h5>
                      </div>
                      <a role="button" ng-click="removeItem(product.id)" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card bg-primary text-white rounded-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="mb-0">Detalle de pago</h5>
                  </div>
                  <p class="small mb-2">Tarjetas aceptadas</p>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-visa fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-amex fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
                  <form class="mt-4">
                    <div class="form-outline form-white mb-4">
                      <input type="text" name="cardName" class="form-control form-control-lg" siez="17"
                        placeholder="Nombre de Tarjeta" />
                      <label class="form-label" for="cardName">Nombre de Tarjeta</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input type="text" id="cardNumber" class="form-control form-control-lg" siez="17"
                        placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                      <label class="form-label" for="cardNumber">Número de Tarjeta</label>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="text" id="cardExpiracy" class="form-control form-control-lg" placeholder="MM/YYYY"
                            size="7" id="exp" minlength="7" maxlength="7" />
                          <label class="form-label" for="cardExpiracy">Vigencia</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="password" id="cardCvv" class="form-control form-control-lg"
                            placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                          <label class="form-label" for="cardCvv">CVV</label>
                        </div>
                      </div>
                    </div>
                  </form>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Subtotal</p>
                    <p class="mb-2">{{ subtotal | currency : "$" }}</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Costo de envío</p>
                    <p class="mb-2">{{ shipping | currency : "$" }}</p>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <p class="mb-2">Total</p>
                    <p class="mb-2">{{ total | currency : "$" }}</p>
                  </div>
                  <button type="button" class="btn btn-info btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span>{{ total | currency : "MXN $" }} Pagar <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>