<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">Productos</h3>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 m-3" ng-repeat="product in productList">
              <img src="{{ product.image }}500" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Categoría: {{ product.category }}</li>
                <li class="list-group-item">{{ product. price | currency : "$" }}</li>
              </ul>
              <div class="card-body">
                <a href="#!/product-detail/{{ product.id }}" class="card-link"><i class="fa fa-eye"></i> Ver detalles</a>
                <a role="button" ng-click="addToCart(product.id)" class="card-link"><i class="fa fa-shopping-cart"></i> Agregar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>