<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="card p-4 text-light bg-light mb-5">
    <div class="card-header bg-light text-secondary">
      <h3>eWorkplace Shopping Cart</h3>
    </div>
    <div class="card-body w-100">
      <form name="frmLogin" ng-submit="authentication()" novalidate>
        <div class="input-group form-group mt-3">
          <div class="bg-secondary rounded-start">
            <span class="m-3"><i class="fas fa-user mt-2"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Usuario" name="username" ng-model="user.username" valid-eworkplace-email required>
        </div>
        <div class="input-group form-group mt-3">
          <div class="bg-secondary rounded-start">
            <span class="m-3"><i class="fas fa-key mt-2"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Contraseña" name="password" ng-model="user.password" required>
        </div>
        <div class="form-group mt-3">
          <input type="submit" value="Ingresar" class="btn bg-secondary float-end text-white w-100">
        </div>
      </form>
      <div class="text-danger text-center" ng-show="frmLogin.$submitted">
        <span ng-show="frmLogin.username.$error.required">el campo usuario es requerido <br></span>
        <span ng-show="frmLogin.username.$error.invalidEmail">el campo usuario requiere un correo válido de eWorkplace<br></span>
        <span ng-show="frmLogin.password.$error.required">el campo contraseña es requerido <br></span>
      </div>
    </div>
  </div>
</div>