<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">{{ product.name }}</h3>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light text-center"
              data-mdb-ripple-color="light">
              <img src="{{ product.image }}350"
                style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid" alt="Laptop" />
              <a href="">
                <div class="mask"></div>
              </a>
            </div>
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <div>
                  <p><a href="" class="text-dark">{{ product.description }}</a></p>
                  <p class="small text-muted">{{ product.category }}</p>
                </div>
                <div>
                  <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="small text-muted">Calificado 5/5</p>
                </div>
              </div>
            </div>
            <hr class="my-0" />
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <p><a href="" class="text-dark">{{ product.price | currency : "$" }}</a></p>
                <p class="text-dark">#### 1234</p>
              </div>
              <p class="small text-muted">MasterCard</p>
            </div>
            <hr class="my-0" />
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                <a href="#!/home" class="text-dark fw-bold"><i class="fas fa-long-arrow-alt-left me-2"></i> Regresar</a>
                <button type="button" class="btn btn-primary" ng-click="addToCart(product.id)">Agregar al carrito <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>