<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">Productos</h3>
            </div>
          </div>
          <div class="row clearfix d-flex justify-content-center">
            <div class="col-10">
              <a class="btn btn-primary float-end" title="Nuevo Producto" href="#!/new-product"><i class="fa fa-plus"></i> Nuevo Producto</a>
            </div>
          </div>
          <div class="row mt-3 d-flex justify-content-center">
            <div class="col-10">
              <table id="example" class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in productList">
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price | currency : "$" }}</td>
                    <td><img src="{{ product.image }}50" class="img-thumbnail" alt="{{ product.name }}"></td>
                    <td>
                      <a class="btn btn-sm btn-warning" title="Editar" href="#!/edit-product/{{ product.id }}"><i class="fa fa-edit"></i></a>
                      <button class="btn btn-sm btn-danger" title="Eliminar" ng-click="deleteProduct(product.id)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>