<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">{{ action  === 'new' ? 'Nuevo Producto' : product.name }}</h3>
            </div>
          </div>
          <form name="frmProduct" ng-submit="saveProduct()" novalidate>
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-12">
                <a href="#!/products" class="text-dark fw-bold"><i class="fas fa-long-arrow-alt-left me-2"></i> Regresar</a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="productName" class="form-label">Nombre de Producto</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': frmProduct.$submitted && frmProduct.productName.$error.required}" name="productName" placeholder="Nombre" ng-model="product.name" required>
                <span ng-show="frmProduct.$submitted && frmProduct.productName.$error.required" class="invalid-feedback">el nombre del producto es requerido <br></span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="productCategory" class="form-label">Categoría</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': frmProduct.$submitted && frmProduct.productCategory.$error.required}" name="productCategory" placeholder="Categoría" ng-model="product.category" required>
                <span ng-show="frmProduct.$submitted && frmProduct.productCategory.$error.required" class="invalid-feedback">la categoría del producto es requerido <br></span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="productImage" class="form-label">URL Imagen</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': frmProduct.$submitted && frmProduct.productImage.$error.required}" name="productImage" placeholder="URL Imagen" ng-model="product.image" required>
                <span ng-show="frmProduct.$submitted && frmProduct.productImage.$error.required" class="invalid-feedback">la imagen del producto es requerido <br></span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="productPrice" class="form-label">Precio</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': frmProduct.$submitted && frmProduct.productPrice.$error.required}" name="productPrice" placeholder="Precio" ng-model="product.price" required>
                <span ng-show="frmProduct.$submitted && frmProduct.productPrice.$error.required" class="invalid-feedback">el precio del producto es requerido <br></span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label for="productDescription" class="form-label">Descripción</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': frmProduct.$submitted && frmProduct.productDescription.$error.required}" name="productDescription" placeholder="Descripción" ng-model="product.description" required>
                <span ng-show="frmProduct.$submitted && frmProduct.productDescription.$error.required" class="invalid-feedback">la descripción del producto es requerido <br></span>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">{{ action  === 'new' ? 'Crear' : 'Editar' }} producto</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>