.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size: 50%;
  padding: .6em;
  border-radius:999px;
  line-height:.75em;
  color: #F8F9FA;
  color: #0d6efd;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}

.fa-circle {
  color: #0d6efd;
}